/* место для вашего кода */

/*  Хедер  */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 93px 44px;
  width: 1100px;
}

.header__menu {
  display: flex;
  padding-left: 3px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  margin: 4px;
  text-decoration-thickness: 1px;
}

.header__links-list {
  display: flex;
  gap: 25px;
  list-style: circle;
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 110px;
  padding-top: 2px;
  padding-left: 10px;
}

.address {
  all: unset;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__address {
  max-width: 240px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* главная секция */
.cover {
  display: block;
  width: 1100px;
  min-height: 757px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding: 165px 18px 105px;
  z-index: 2;
}

.aligned-text {
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 117px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.aligned-text_left {
  text-align: start;
  letter-spacing: 30px;
  padding-left: 33px;
}

.aligned-text_center {
  text-align: center;
  padding-left: 32px;
  padding-top: 17.5px;
  letter-spacing: 30px;
}

.aligned-text_right {
  text-align: end;
  padding-right: 1px;
  padding-top: 18px;
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.cover__description-text {
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  z-index: 1;
  margin-left: 51px;
  word-spacing: 18.5px;
}

.bet-button {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 256px;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  margin-left: 106px;
  z-index: 1;
}

/* секция с лотами */
.lots {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding-top: 183px;
  flex-wrap: wrap;
  max-width: 1100px;
}

.lots__heading {
  margin-bottom: 31px;
  margin-left: 65px;
  font-family: Raleway, "sans-serif";
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  list-style: none;
  flex-direction: row;
  justify-content: stretch;
  gap: 25px;
  padding-left: 25px;
}

.lots__card-list-item {
  display: block;
  background-repeat: no-repeat;
  width: 334px;
  min-height: 596px;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 596px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.card__link {
  text-decoration: none;
  display: flex;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  width: 254px;
  align-self: center;
  padding-top: 48px;
  z-index: 1;
  text-decoration-thickness: 1px;
}

.card__text {
  color: rgba(255, 255, 255, 1);
  font-family: Raleway, sans-serif;
  font-size: 20px;
  width: 254px;
  line-height: 24px;
  left: 40px;
  right: 40px;
  bottom: 48px;
  z-index: 1;
  text-align: left;
  align-self: center;
  padding-bottom: 48px;
  margin-top: auto;
}

.loots__look-more-link {
  display: flex;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  padding-top: 32px;
  padding-left: 65px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

/* секция об аукционе */
.about {
  display: grid;
  width: 1052px;
  grid-template-columns: 311px 1fr;
  padding-top: 156px;
  padding-left: 72px;
}

.about__logo {
  border-radius: 50%;
  background-color: black;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  display: block;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: 693px;
}

.about__title {
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
  padding-top: 105px;
  padding-left: 1px;
}

.text__block {
  padding-top: 103px;
  padding-left: 1px;
  width: 693px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  width: 688px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* футер */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin-top: 182px;
}

.footer__address {
  max-width: 265px;
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  flex-direction: column;
  padding-left: 52px;
  padding-bottom: 82px;
  text-underline-offset: 4px;
  justify-self: start;
}

.footer__menu {
  display: flex;
  width: 164px;
  padding-left: 9px;
  line-height: 130%;
}

.footer__menu-link {
  color: rgba(0, 0, 0, 1);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 4px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 48px;
  justify-self: end;
  padding-right: 50px;
}
