/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}
.header__logo {
  display: block;
  width: 148px;
}

.header__links-list {
  display: flex;
  gap: 50px;
  list-style: circle;
}

.address {
  all: unset;
  width: 240px;
  height: 98px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.image-container {
  position: relative; /* Обязательно: позиционирует дочерние элементы относительно этого контейнера */
  display: inline-block; /* Позволяет контейнеру обернуть изображение */
}

.overlay {
  position: absolute; /* Делает элемент абсолютно позиционированным */
  top: 0;
  left: 0;
  width: 100%; /* Растягивает на всю ширину родителя */
  height: 100%; /* Растягивает на всю высоту родителя */
  background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный цвет */
}

.cover {
  position: relative;
  min-height: auto;
  background-repeat: no-repeat;
}

.cover__title {
  display: flex;
  flex-direction: column;

  height: 115px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 30%;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 207px;
  box-sizing: border-box;
}
.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.cover__description-text {
  all: unset;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: undefined;
  text-align: left;
  text-transform: uppercase;
  z-index: 1;
  margin-left: 72px;
}

.bet-button {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 256px;
  height: 51px;
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  margin-left: 85px;
}

.accent-span-left {
  width: 286px;
  text-align: left;
}

.accent-span-center {
  width: 286px;
  text-align: center;
}

.accent-span-right {
  width: 286px;
  text-align: right;
}

.lots__card-list {
  position: relative;
  background-size: cover;
  list-style: none; /* Убирает маркеры-точки */
  padding: 0; /* Убирает внутренний отступ */
  margin: 0; /* Убирает внешний отступ */
  display: flex;
  flex-direction: row;
}

li {
  width: 334px;
  min-height: 596px;
}

.card-content {
  display: flex;
  flex-direction: column;
}
.film__card {
  position: relative;
  background-size: cover;
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
}

.book__card {
  position: relative;
  background-size: cover;
  background-image: url(/images/card-lot-02.jpg);
  background-position: center;
}

.picture__card {
  position: relative;
  background-size: cover;
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
}

a,
article {
  height: 100%;
}

.lots {
  display: flex;
  align-items: center;
  padding-top: 250px;
  flex-wrap: wrap;
}

.lots__heading {
  align-self: self-start;
  margin-bottom: 24px;
  margin-left: 67px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;

  text-transform: uppercase;
}

.card__title {
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
  width: 254px;
  height: 82px;
  justify-content: flex-start;
  z-index: 1;
}

.card__text {
  color: rgba(255, 255, 255, 1);
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  justify-content: end;
  text-align: start;
  z-index: 1;
  margin-bottom: 0;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  background-repeat: no-repeat;
  margin: 27px 25px 30px 24px;
}
